Django==6.0.3
djangorestframework==3.17.1
django-cors-headers==4.9.0
pypdf==6.9.2
python-docx==1.2.0
llama-index-core==0.14.20
llama-index-llms-huggingface-api==0.3.1
llama-index-embeddings-huggingface==0.5.2
sentence-transformers==4.1.0
requests==2.32.3
